    
    
/*
    font-family: 'Audiowide',
    cursive;

    font-family: 'Montserrat',
    sans-serif;

    font-family: 'Open Sans',
    sans-serif;

    font-family: 'Orbitron',
    sans-serif; 
*/

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;


}

img {
    border-style: none
}

.auth-model .auth-header .title:before,
.icon-uptick-logo,
.modal-header .modal-title a:before,
.site-title a:before {
    background-image: url("Images/uptick.png");
    background-repeat: no-repeat;

}

.site-header {
    display: block;
    width: 100%;
    height: 60px;
    background: #49a53d;
    position: fixed;
    margin: 0 0 0px;
    z-index: 2;
}


.model-header .model-title,
.site-title {
    font-family: Orbitron;
    font-size: 22px;
    color: #111;
    font-weight: 600;
    display: inline-block;
    width: 107px;
    height: 73px;
    margin: 0 16px 0 0;
    background: linear-gradient(160deg, #e1e1e1 0, #fff 90%);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .27);
    position: relative;
    left: 20px;
    z-index: 9999;
    text-transform: lowercase;
    text-align: center;
    font-size: 16px;
    color: #444951
}

.model-header .model-title a,
.site-title a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit
}

.model-header .model-title a:before,
.site-title a:before {
    width: 37px;
    height: 30px;
    background-size: 100% 100%;
    display: block;
    content: "";
    margin: 10px auto 3px
}



.site-tagline {
    position: relative;
    left: 140px;
}

.site-tagline {
    white-space: nowrap;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;

}

.nav-header {
    position: relative;
    left: 290px;
}

.nav-header {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;


}

.nav-header {
    color: #111;
    text-decoration: none;
    transition: 0.5s;

}


/* Index */

.index-banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

video {
    position: relative;
    top: 60px;
    z-index: -2;
    background-size: cover;
}

.index-banner {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    color: #fff;

}

.col-12 {
    text-align: center;
    bottom: 640px;

}

.index-banner h1 {
    font-size: 55px;
    padding: 15px;
    text-shadow: 6px 6px 3px #489e2e;
}

.index-banner h3 {
    font-weight: 600;
    line-height: 33px;
}

